.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.form__sortedby {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.noborder-right {
  border-radius: 20px 0 0 20px;
  background: #5182f0;
}
.noborder-left {
  border-radius: 0 20px 20px 0;
  background: #5182f0;
}

input {
  width: 16rem;
  height: 3rem;
  border-radius: 20px;
  border: none;
  text-align: center;
}

input:focus {
  outline: none;
  border: none;
}

.form__result {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 6rem;
    padding: 0;
    list-style-type: none;
    margin: 4rem 0;
}